.box {
    width: 100%;
    justify-content: center;
    text-align: left;
    padding: 0 1.6%;
    margin: 10% 0px;
}

.box p {
    font-size: 2rem;
    font-weight: 300;
    font-size: 20.0pt;
    line-height: 2;
}

@media screen and (max-width: 480px) {
    .box p {
        padding: 0 2%;
    }
}