.portItem img {
    max-width: 90%;
}

.portItem {
    justify-content: center;
    display: flex;
    margin: 40px 0px;
    flex-direction: column;
    align-items: center;

}

.portItem p {
    text-decoration: underline;
}

.portDuoItens {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.portItens {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

@media screen and (max-width: 480px) {
    .portDuoItens {
        grid-template-columns: 1fr;
    }
}