.title {
    width: 100%;
    margin: 0px;
    line-height: 1.28;
    letter-spacing: 0.2rem;
    padding: 0;
    text-transform: uppercase;
    text-align: center;
}

.title h1 {
    font-size: 700%;
}

@media screen and (max-width: 768px) {
    .title h1 {
        font-size: 400%;
    }
}

@media screen and (max-width: 480px) {
    .title {
        padding: 0;
    }

    .title h1 {
        font-size: 300%;
        padding: 0 5%;

    }
}